#popup {
  overflow: hidden;
  max-height: 50px;
  max-width: 50%;
  padding: 10px;
  transition: max-height 1s ease;
}

#popup.expanded {
  max-height: 350px;
}

.popup-button {
  display: block;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  color: white;
  background: #4652ff;
  border: 3px solid transparent;
  box-sizing: border-box; 
  cursor: pointer;
}

.popup-button:hover {
  border: 3px solid #7899dc;
  background: #0011ff;
}

.popup-content {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
}
